<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="image-responsive" src="https://s-media-cache-ak0.pinimg.com/564x/69/d2/9c/69d29c2daa52becf64d298ef9bcf0a4d.jpg" alt="...">
            <div class="caption">
                <h3>One Piece</h3>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, cum dolore eaque est et explicabo, facilis fugiat impedit ipsam natus nobis numquam, quibusdam tempore ullam vero. Autem maxime molestiae soluta!</p>
                <div class="clearfix">
                    <div class="price pull-left">12$</div>
                    <a href="#" class="btn btn-default btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="image-responsive" src="https://s-media-cache-ak0.pinimg.com/564x/69/d2/9c/69d29c2daa52becf64d298ef9bcf0a4d.jpg" alt="...">
            <div class="caption">
                <h3>One Piece</h3>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, cum dolore eaque est et explicabo, facilis fugiat impedit ipsam natus nobis numquam, quibusdam tempore ullam vero. Autem maxime molestiae soluta!</p>
                <div class="clearfix">
                    <div class="price pull-left">12$</div>
                    <a href="#" class="btn btn-default btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="image-responsive" src="https://s-media-cache-ak0.pinimg.com/564x/69/d2/9c/69d29c2daa52becf64d298ef9bcf0a4d.jpg" alt="...">
            <div class="caption">
                <h3>One Piece</h3>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, cum dolore eaque est et explicabo, facilis fugiat impedit ipsam natus nobis numquam, quibusdam tempore ullam vero. Autem maxime molestiae soluta!</p>
                <div class="clearfix">
                    <div class="price pull-left">12$</div>
                    <a href="#" class="btn btn-default btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="image-responsive" src="https://s-media-cache-ak0.pinimg.com/564x/69/d2/9c/69d29c2daa52becf64d298ef9bcf0a4d.jpg" alt="...">
            <div class="caption">
                <h3>One Piece</h3>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, cum dolore eaque est et explicabo, facilis fugiat impedit ipsam natus nobis numquam, quibusdam tempore ullam vero. Autem maxime molestiae soluta!</p>
                <div class="clearfix">
                    <div class="price pull-left">12$</div>
                    <a href="#" class="btn btn-default btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="image-responsive" src="https://s-media-cache-ak0.pinimg.com/564x/69/d2/9c/69d29c2daa52becf64d298ef9bcf0a4d.jpg" alt="...">
            <div class="caption">
                <h3>One Piece</h3>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, cum dolore eaque est et explicabo, facilis fugiat impedit ipsam natus nobis numquam, quibusdam tempore ullam vero. Autem maxime molestiae soluta!</p>
                <div class="clearfix">
                    <div class="price pull-left">12$</div>
                    <a href="#" class="btn btn-default btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="image-responsive" src="https://s-media-cache-ak0.pinimg.com/564x/69/d2/9c/69d29c2daa52becf64d298ef9bcf0a4d.jpg" alt="...">
            <div class="caption">
                <h3>One Piece</h3>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, cum dolore eaque est et explicabo, facilis fugiat impedit ipsam natus nobis numquam, quibusdam tempore ullam vero. Autem maxime molestiae soluta!</p>
                <div class="clearfix">
                    <div class="price pull-left">12$</div>
                    <a href="#" class="btn btn-default btn-success pull-right" role="button">Button</a>
                </div>
            </div>
        </div>
    </div>
</div>